<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/components/jquery/jquery.js'></script>
    <script src='/javascripts/client.js'></script>
  </head>
  <body>
	<p>Welcome to</p>
	<h1><%= title %></h1>

	<div id="history" class="hide">
	</div>
	<form action='/message' id="msgForm">
	  <fieldset>
	    <input type="text" name="msg">
	    <button type="submit" class="btn">Send</button>
	  </fieldset>
	</form>
  </body>
</html>
